.row.pad
  .col-md-6.col-md-offset-3#main-rect
    =image_tag "mailsafe-new.png", id: 'logo'
    .subtitle Secure newsletters with phone verification.
    - if @done
      =render 'done'
    - else 
      =render 'form'
:javascript
  $(document).ready(function() {
    $("#main-rect").hide().fadeIn('slow');
  });
