// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#main-rect {
  background: white;
  border-radius: 5px;
  padding: 15px;
}

.pad-top {
  padding-top: 50px;
}

main {
  background: #d3e0e6;
}